* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    font-family: Arial, sans serif;
}

.menu {
    background-color: deepskyblue;
    width: 100%;
    height: 50px;
}

.menu ul {
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu ul li {
    padding: 10px;
}

.menu ul li a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

a {
    text-decoration: none;
    font-weight: bold;
}

.conteudo h1 {
    margin: 10px;
    text-align: center;
    font-size: 50px;
}

.home {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: calc(100vh - 50px);
    background: azure;
}

.texto-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    overflow: hidden;

    background-image: url("/static/img/senai.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.calculos {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
}

.calculos a {
    color: black;
    font-family: "Arial Black", sans-serif;
}

.calculos a:hover {
    color: white;
}

.card_calculo {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: lightskyblue;
    border: 1px solid black;
    border-radius: 10px;
}

.card_operacao {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}

.form-somar {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 14px;
}

.form-somar input {
    width: 80px;
}

.operador {
    font-size: 26px;
}