{% extends 'base.html' %}

{% block conteudo %}

<h1>Funcionários</h1>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Novo Funcionário
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Novo Funcionário</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="form-somar" action="{{ url_for('triangulo_area') }}" method="post">
                    <label>
                        Nome:
                        <input placeholder="Digite o nome" name="form-nome" class="form-control w-100">
                    </label>

                    <div class="d-flex justify-content-between">
                        <label>
                            Data Nascimento:
                            <input type="date" name="form-data" class="form-control w-100">
                        </label>

                        <label>
                            CPF:
                            <input placeholder="Digite somente números" name="form-cpf" class="form-control w-100">
                        </label>
                    </div>

                    <label>
                        Email:
                        <input type="email" placeholder="Digite o email" name="form-email" class="form-control w-100">
                    </label>

                    <label>
                        Senha:
                        <input type="password" data-bs-toggle="password" placeholder="Digite a senha" name="form-senha" class="form-control w-100">
                    </label>

                    <label>
                        Cargo:
                        <input placeholder="Digite o cargo" name="form-cargo" class="form-control w-100">
                    </label>

                    <label>
                        Salario:
                        <input placeholder="Digite o salario" name="form-salario" class="form-control w-100">
                    </label>

                    <button type="submit" class="btn btn-success">Cadastrar</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Data Nascimento</th>
        <th scope="col">CPF</th>
        <th scope="col">Email</th>
        <th scope="col">Senha</th>
        <th scope="col">Cargo</th>
        <th scope="col">Salario</th>
        <th scope="col">Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>1</th>
        <td>Lucas</td>
        <td>02/05/1997</td>
        <td>1234556789</td>
        <td>lucas@gmail.com</td>
        <td>123</td>
        <td>Professor</td>
        <td>R$ 1500,00</td>
        <td><a href=""><i class="bi bi-pencil"></i></a> <a href=""><i class="bi bi-trash text-danger"></i></a></td>
    </tr>
    </tbody>
</table>
{% endblock %}