{% extends 'base.html' %}

{% block conteudo %}

<h1>Operações Aritméticas</h1>

<div class="calculos">

    <div class="card_operacao">
        <h2>Adição</h2>
        <form class="form-somar" action="{{ url_for('somar') }}" method="post">
            <label>
                <input placeholder="Digite um número" name="form-n1">
            </label>

            <p class="operador">+</p>

            <label>
                <input placeholder="Digite um número" name="form-n2">
            </label>

            <p class="resultado">
                {% if soma is defined %}
                    {{ n1 }} + {{ n2 }} = {{ soma }}
                {% else %}
                {% endif %}
            </p>

            <button type="submit">Somar</button>
        </form>

    </div>

</div>


{% endblock %}